/* .home1 >img{
    width: 80%;
    border: 1px solid #fffefe;
} */
 .home1{
    height: 100vh;
 }
 .parent-home {
    padding: 10px;
    text-align: center;
 }
 .parent-home >h2{
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2px;
 }