/* .home1 >img{
    width: 80%;
    border: 1px solid #fffefe;
} */
 .home1 .row, 
 .couple .row,
 .date .row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

 }
 .parent-home, 
 .parent-couple,
 .date-chill{
    border: 2px solid #ffff;
    padding: 10px;
    text-align: center;
    background-color: rgb(123, 143, 52,0.5);;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1), 0 0 40px 20px rgba(0, 0, 0, 0.1), 0 0 60px 30px rgba(0, 0, 0, 0.5);

 }
 .parent-home >h2{
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2px;
    text-shadow: 2px 2px #ffff;
 }
 .parent-home >p{
   font-size: 1.2rem;
 }
 .home1 >p{
   font-size: 1.2rem;
   text-align: center;
   padding: 2rem;
   background-color: rgb(123, 143, 52,0.5); ;
 }

 .parent-couple >div >h2{
   font-family: "Sacramento", cursive;
   font-size: 2rem ;
   font-weight: bolder;
   text-shadow: 2px 2px #ffff;
   margin-top: 2rem;
 }
 .parent-couple >div >p{
   line-height: 1;
 }

 .date-chill >div >div >span{
   background-color: rgb(123, 143, 52,0.7) ;
   border-radius: 5px;
   font-size: 3rem;
   font-style: italic;
   font-weight: bold;
   color: white;
   padding: 4px;
 }
 .date-chill >div >h2{
   border-top: 2px solid #ffff;
   border-bottom: 2px solid #ffff;
   color: #ffff;
   padding: 2px;
   font-size: 2.5rem;

 }